
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>About</strong> Form</div>
      <div class="card-body">
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Titre</label>
            <div class="col-md-9">
              <input [(ngModel)]="about.titre" class="form-control" id="text-input" type="text" name="titre" placeholder="Text">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="textarea-input">Textarea</label>
            <div class="col-md-9">
              <textarea [(ngModel)]="about.contenu" class="form-control" id="textarea-input" name="contenu" rows="9" placeholder="Content.."></textarea>
            </div>
          </div>
          <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
            <span class="label-input100">Photo</span>
            <input (change)="selectPhoto($event)" [(ngModel)]="about.img" class="input100" type="file"  name="photo"  placeholder="File">
          </div>

        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-primary"  (click)="createAbout()" type="submit">
          <i class="fa fa-dot-circle-o"></i> Submit</button>
        <button class="btn btn-sm btn-danger" type="reset">
          <i class="fa fa-ban"></i> Reset</button>
      </div>
    </div>
  </div></div>
