
<div class="hero-wrap" style="background-image: url('../../../assets/images/bg_7.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 d-flex ">
        <div class="img img-about align-self-stretch" >
          <img src="../../../assets/uploadImg/{{about.img}}" alt="Image">
        </div>
      </div>
      <div class="col-md-6 pl-md-5 ">
        <h2 class="mb-4">{{about.titre}}</h2>
        <p>{{about.contenu}}</p>
      </div>
    </div>
  </div>
</section>
